body {
  margin: 0;
  font-family: 'Hind', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
}

p {
  padding: 0;
  margin: 0;
}

.flex__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: dimgray;
  border-bottom: 1px solid lightgray;
  padding: 5px 0px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 999;
}

.nav__left {
  display: flex;
  align-items: center;
}

.bar {
  display: none;
}

.logo {
  padding: 0px 12px;
}

.menu {
  display: flex;
}

.menu li {
  padding: 0px 12px;
}

.nav__right {
  display: flex;
  align-items: center;
}

.nav__right li {
  padding: 6px 18px;
}

.nav__right .active__btn {
  color: white;

  border: 1px coral solid;
  border-radius: 10px;
  background-color: coral;
}

.nav__right .active__btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.menu__drop__down {
  display: flex;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 1px solid lightgray;
  padding: 5px 30px;
}

.menu__drop__down li {
  color: dimgray;
  padding: 10px 0px;
}

.bar:hover {
  cursor: pointer;
  opacity: 0.8;
}

.inactive__btn {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 1280px) {
  .navbar {
    justify-content: space-between;
    padding: 5px 15px;
  }
}

@media screen and (max-width: 640px) {
  .menu {
    display: none;
  }

  .bar {
    display: block;
  }

  .inactive__btn {
    display: none;
  }

  .navbar {
    justify-content: space-between;
    padding: 5px 15px;
  }
}

.sign__up {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 120px 150px;

  position: relative;
  z-index: 998;
}

.formbox {
  padding: 45px;
  border-radius: 10px;
  box-shadow: inset 0 0 1.5px dimgray;
}

.sign__up h2 {
  text-align: center;
  font-size: 250%;
  margin-bottom: 50px;
  color: dimgray;
}

.sign__up .input__text {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid gainsboro;
  border-radius: 5px;
}

.sign__up input {
  transition: outline 0.1s;
}

.sign__up input:focus {
  border: none;
  outline: 3px solid coral;
}

.fav__language__p {
  text-align: center;
  font-size: large;
  padding: 10px;
}

.radio__inputs {
  display: flex;
  flex-wrap: no wrap;
  align-self: center;
}

.radio__inputs div {
  padding: 0px 10px;
}

.checkbox__inputs {
  padding-top: 10px;
}

.valid__alert {
  align-self: flex-start;
  color: red;
  font-size: 0.3em;
  display: none;
}

.input__btn {
  color: white;
  font-size: medium;
  font-weight: bold;

  border: 1px coral solid;
  border-radius: 12px;
  background-color: coral;

  padding: 10px;
  margin-top: 12px;
  transition: opacity 2s;
}

.input__btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.birthday__input {
  display: flex;
  justify-content: space-between;
}

.birthday__input input {
  width: 28%;
}
